{
    "presets": ["module:metro-react-native-babel-preset", "babel-preset-expo"],
    "plugins": [
      [
        "module-resolver",
        {
          "root": [
            "./src"
          ],
          "extensions": [".ios.js", ".android.js", ".js", ".json"],
        "alias": {
           "_assets": "./src/assets",
           "_components": "./src/components",
           "_routes": "./src/routes",
           "_screens": "./src/screens"
         }
        } 
      ] 
    ]
  }